<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Css styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/employees.css">
    <title>Employees Handbook</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:4567/company">Employees Handbook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:4567/company/employees"> Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4567/company/add-employee">Add employee</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Emp_ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Country Support</th>
                <th scope="col">Contract Type</th>
                <th scope="col">Gender</th>
                <th scope="col">Position</th>
                <th scope="col">Department</th>
                <th scope="col">Salary</th>
            </tr>
            </thead>
            <tbody>
            <% employees_list.forEach(function (employee) { %>
                <tr>
                    <th scope="row"><%= employee.employee_id %></th>
                    <td><%= employee.first_name %></td>
                    <td><%= employee.last_name %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.age %></td>
                    <td><%= employee.country_support %></td>
                    <td><%= employee.contract_type %></td>
                    <td><%= employee.gender %></td>
                    <td><%= employee.position %></td>
                    <td><%= employee.department %></td>
                    <td><%= employee.salary %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Edit email script -->
    <script>
        function editEmail(emailInput) {
            const button = document.getElementById(emailInput);
            const li = button.parentNode.parentNode;
            if (button.innerText == 'Edit') {
                const span = li.firstElementChild
                const input = document.createElement('input');
                input.type = 'text';
                input.value = span.textContent;
                li.insertBefore(input, span);
                li.removeChild(span);
                button.innerText = 'Save';
            } else if (button.innerText == 'Save') {
                const input = li.firstElementChild;
                const span = document.createElement('span');
                span.textContent = input.value;
                li.insertBefore(span, input);
                li.removeChild(input);
                button.innerText = 'Edit';
                let object = {
                    emailToChange: emailInput,
                    newEmail: span.innerText
                }
                fetch('http://localhost:4567/spammer/update-email', {
                    method: 'PATCH',
                    body: JSON.stringify(object),
                    headers: {'Content-type': 'application/json'}
                }).then((res) => {
                    if (!res.ok) {
                        alert("There is an error");
                        return res;
                    }
                }).then((res) => {
                    alert("Email has been changed");
                    res.json();
                }).then(() =>
                    window.location.reload());
            }
        }
    </script>
    <!-- Delete employee script -->
    <script>
        function deleteUser(emailInput) {
            let object = {
                email: emailInput
            }
            fetch('http://localhost:4567/spammer/delete-user', {
                method: 'DELETE',
                body: JSON.stringify(object),
                headers: {'Content-type': 'application/json'}
            }).then((res) => {
                if (!res.ok) {
                    alert("There is an error");
                    return res;
                }
            }).then((res) => {
                alert("Email has been deleted");
                res.json();
            }).then(() =>
                window.location.reload());
        }
    </script>
</div>
</body>
</html>